<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header"); %>
</head>

<body>
    <div class="container text-center">
        <!--ntoulogo, title, login state-->
        <%- include("top"); %>

        <!--navigation bar-->
        <%- include("navbar"); %>

        <!--current floor classromm status-->
        <%- include("floorstatus"); %>
    </div>

    <!--footer(only the bundle bootstrap file currently)-->
    <%- include("footer"); %>
</body>
</html>