<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/header"); %>
  </head>
  <body>
    <h1>this is profile edit page</h1>
    <div class="container text-center">
      <div class="mb-3 row">
        <div class="col-3">
          使用者名稱:
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="id" value="<%= user.username %>">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-3">
          密碼:
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="id" value="<%= user.password %>">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-3">
          信箱:
        </div>
        <div class="col-3">
          <input type="email" class="form-control" id="id" value="<%= user.email %>">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-3">
          聯絡電話:
        </div>
        <div class="col-3">
          <input type="email" class="form-control" id="id" value="<%= user.phone %>">
        </div>
      </div>
    </div>
    
    
  <%- include("../partials/footer"); %>
  </body>

</html>